@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 10px;
}
/* Track */
body::-webkit-scrollbar-track {
    @apply bg-transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    @apply bg-green-500 rounded-lg;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    @apply bg-green-700;
}
.kotak {
    transition: all ease-in-out 0.5s;
    animation: slidetop 0.5s ease forwards;
    opacity: 0;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes slidetop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-link.active {
    @apply bg-green-500 py-2 px-4 text-white transition duration-300 ease-in-out;
}
